<% include ./partials/header %>

<div class="ui main text container">
  <div class="ui huge header piled segment"><%= blog.title %></div>
    <div class="ui top attached segment">
      <div class="item">
        <div class='image'>
            <img class="ui centered rounded large image" src='<%= blog.image %>'>
        </div>
        <div class='content'>
            <p class='location'>
              地址：<%=blog.location%>
            </p>
            <p class='location'>
              微信：<%=blog.wechat%>
            </p>
            <div class='meta'>
              发布日期：  <span><%= blog.created.toDateString() %></span>
            </div>
            <div class='description'>
                <p><%= blog.body%>...</p>
            </div>
            <a href="/blogs" class='ui floated basic black button'>返回主页</a>
        </div>

      </div>
    </div>
</div>




<% include ./partials/footer %>
