<% include ./partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
    <div class="field">
      <label>标题</label>
      <input type="text" name="blog[title]" value="<%= blog.title %>">
    </div>
    <div class="field">
      <label>图片URL</label>
      <input type="text" name="blog[image]" value="<%= blog.image %>">
    </div>
    <div class="field">
      <label>聚集地</label>
      <input type="text" name="blog[location]" value="<%= blog.location %>">
    </div>
    <div class="field">
      <label>微信</label>
      <input type="text" name="blog[wechat]" value="<%= blog.wechat %>">
    </div>
    <div class="field">
      <label>内容</label>
      <textarea name="blog[body]"><%= blog.body %></textarea>
    </div>

    <input class="ui black basic button" type="submit">
    <a href="/blogs/<%= blog._id %>" class='ui floated basic black button'>取消</a>


  </form>
</div>


<% include ./partials/footer %>
